@import "./nav.scss";
@import "./my.scss";
@import "./career.scss";
@import "./reset.scss";
@import "./detail.scss";
@import "./locomotive-scroll.scss";
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900");

:-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(271, 48%, 44%, 0.49);
  border-radius: 4px;
}

* {
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}

.container {
  display: flex;
  scroll-behavior: smooth;

  .scrollContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    .scroll {
      scroll-snap-align: center;
      scroll-snap-stop: always;
      transition: all 1.5s ease-in-out;
    }
    L .my {
      z-index: 0;
    }
  }
}

.canvas {
  z-index: 0;
}
