.my_carrer {
  display: flex;
  flex-direction: column;

  .carrer {
    display: flex;
    flex-direction: column;
    background-color: #29173f;
    height: 100vh;
    width: 100vw;
  }
  .first {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }
  .second {
    background-image: linear-gradient(90deg, #9b420e 0%, #770707 100%);
  }
  .third {
    background-image: linear-gradient(30deg, #23446b 0%, #8a3072 100%);
  }
}
