.detail_container {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 200vh;
  padding: 64px;
  background-color: rgb(234, 242, 243);

  .text-main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(57, 91, 184);
    .main {
      text-align: center;
      font-size: 60px;
      font-weight: 800;
    }
    .sub {
      margin-left: 48px;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.5;
    }
  }

  .image {
    width: 90vw;
    height: fit-content;
    margin-top: 64px;
    padding: 0 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      background-color: white;
      border-radius: 12px;
    }
    .image-text {
      margin-top: 40px;
      width: 100%;
      font-size: 16px;
      font-weight: 00;
      line-height: 1.4;
      text-align: center;
    }
  }
}
