.my_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .my_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .my_my {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      .my_my-name {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 8px;
      }
      .my_my-position {
        color: #694fa4;
        font-size: 120px;
        font-weight: 900;
      }
    }

    .my_story {
      width: 100%;
      font-weight: 300;
      font-size: 40px;
      color: #694a7e;
    }
  }
}
