.my_container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  height: 80vh;

  .my_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .my_img {
      width: 312px;
      height: 312px;
      background-color: grey;
      border-radius: 50%;
    }

    .my_my {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      width: 100%;
      color: #dddddd;

      .my_my-name {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 8px;
      }
      .my_my-position {
        font-size: 80px;
        font-weight: 200;
      }
    }

    .my_story {
      width: 100%;
      margin-top: 40px;
      font-weight: 600;
      font-size: 40px;
      color: #dddddd;
    }
  }
}
