.my_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .chevron {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    color: rgb(138, 191, 221);
    font-weight: 600;
    bottom: 0;
    span {
      margin-top: 8px;
    }
  }
}
