.gnb {
  width: 100vw;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;

  .link {
    text-decoration: none;
  }

  .gnb_logo {
    font-weight: 900;
    font-size: 24px;
    color: #e7e7e7;
    text-align: left;
    text-decoration: none;
  }

  .gnb_link {
    grid-column: 4;
    text-align: right;

    .gnb_about {
      font-size: 18px;
      font-weight: 200;
      color: #c9c9c9;
    }
  }
}
